<div class="screen">
  <app-nav-menu></app-nav-menu>
  <div class="screen__container">
    <div class="screen__content">
      <picture>
        <source media="(min-width: 1024px)" srcset="../assets/images/image-hero-desktop.png">
        <img class="screen__intro-img" src="../assets/images/image-hero-mobile.png" alt="image-hero">
  
      </picture>
  
      <div class="screen__text">
        <h1>Make remote work</h1>
        <p>Get your team in sync, no matter your location. Streamline processes, create team rituals, and watch productivity soar.</p>
  
        <button>Learn more</button>
  
        <div class="screen__logos">
          <img src="../assets/images/client-databiz.svg" alt="">
          <img src="../assets/images/client-audiophile.svg" alt="">
          <img src="../assets/images/client-meet.svg" alt="">
          <img src="../assets/images/client-maker.svg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>